@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    margin-bottom: 100px;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr repeat(12, minmax(0, 60px)) 1fr;
    gap: 10px;
    grid-row-gap: 0;

}

.grid img {
    width: 100%;
    background-color: red;
    object-fit: cover;
}

.grid .youtube {
    width: 100%;
    aspect-ratio: 1.78;
}

.grid div {
    width: 100%;
    background-color: red;
    min-height: 50px;
}

.pic {
    background-color: red;
    min-height: 50px;
}

.title {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 260px;
}

.text {
    font-family: 'Lora', serif;
}

.el1 {
    margin-top: 173px;
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
  }
  
.el2 {
    margin-top: 273px;
    grid-column: 2 / span 5;
    grid-row: 2  / span 1;
  }

.el3 {
    margin-top: 156px;
    grid-column: 12 / span 2;
    grid-row: 3  / span 1;
}

.el4 {
    grid-column: 1 / span 9;
    grid-row: 4  / span 1;
}

.el5 {
    margin-top: 192px;
    grid-column: 4 / span 8;
    grid-row: 5  / span 1;

}

.el6 {
    margin-top: 186px;
    grid-column: 3 / span 5;
    grid-row: 6  / span 1;
}

.el7 {
    margin-top: 186px;
    grid-column: 11 / span 3;
    grid-row: 6  / span 1;
}

.el8 {
    margin-top: 145px;
    grid-column: 10 / span 4;
    grid-row: 7 / span 1;
}

.el9 {
    margin-top: 197px;
    grid-column: 2 / span 5;
    grid-row: 8  / span 1;
}
  
.el10 {
    margin-top: 54px;
    grid-column: 10 / span 4;
    grid-row: 8  / span 1;
    mix-blend-mode: multiply;

}

.el11 {
    margin-top: 284px;
    grid-column: 2 / span 13;
    grid-row: 9  / span 1;
    height: 1133px;
    background-color: black;
}

.el12 {
    margin-top: 403px;
    grid-column: 4 / span 3;
    grid-row: 9  / span 1;
}
.el13 {
    margin-top: 990px;
    grid-column: 9 / span 3;
    grid-row: 9  / span 1;
}

.el14 {
    margin-top: 258px;
    grid-column: 4 / span 8;
    grid-row: 10  / span 1;
}

.el15 {
    margin-top: 234px;
    grid-column: 4 / span 8;
    grid-row: 11  / span 1;
}


.el16 {
    margin-top: 212px;
    grid-column: 2 / span 5;
    grid-row: 12  / span 1;
}

.el17 {
    margin-top: 212px;
    grid-column: 7 / span 7;
    grid-row: 12  / span 1;
}

.el18 {
    margin-top: 93px;
    grid-column: 2 / span 5;
    grid-row: 13  / span 1;
}

.el19 {
    margin-top: 147px;
    grid-column: 10 / span 2;
    grid-row: 13  / span 1;
}

.el20 {
    margin-top: 658px;
    grid-column: 7 / span 7;
    grid-row: 14  / span 1;
}

.el21 {
    margin-top: 0;
    grid-column: 1 / span 13;
    grid-row: 15  / span 1;
}

.el22 {
    margin-top: 529px;
    grid-column: 2 / span 5;
    grid-row: 15 / span 1;
}

.el23 {
    margin-top: 427px;
    grid-column: 3 / span 5;
    grid-row: 16 / span 1;
}

.el24 {
    margin-top: 205px;
    grid-column: 11 / span 3;
    grid-row: 16  / span 1;
}

.el25 {
    margin-top: 148px;
    grid-column: 2 / span 12;
    grid-row: 18  / span 1;
}

.el26 {
    margin-top: 264px;
    grid-column: 2 / span 4;
    grid-row: 17  / span 1;
}

.el27 {
    margin-top: 148px;
    grid-column: 9 / span 3;
    grid-row: 17  / span 1;
}

.container-slider {
    overflow: hidden;
    font-size:50px;
    font-weight:800;
    position: fixed;
    top: 356px;
    left: 0;
    right: 0;
    color: red;
    mix-blend-mode: multiply;
    z-index: 20;
    
}
  
.container-wrapper {
    text-align : center;
    display:flex;
    height:auto;
    animation: slide 24s linear infinite;

  }
  
  @keyframes slide {
    from{
      transform: translateX(0px);
    }
    to {
      transform: translateX(-200%);
    }
  }